{% extends 'base.html' %}

{% load static %}

{% block 'titulo' %} Home {% endblock %}

{% block 'conteudo' %}
<h1 class="text-center">Filmes</h1>

<div class="container mt-5">
    <div class="row">
        {% for d in data.results %}
            <div class="card mb-3 mx-5 row g-0" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://image.tmdb.org/t/p/w500/{{d.poster_path}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">{{d.title}}</h5>
                            <p class="card-text">{{d.overview}}</p>
                            <a class="btn btn-outline-success" style="background-color: #6c63ff; color: white;" href="{% url 'ver_detalhes' movie_id=d.id %}">ver detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<footer class="container mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
          <li class="page-item"><a class="page-link" style="color: #6c63ff;" href="#">1</a></li>
          <li class="page-item"><a class="page-link" style="color: #6c63ff;" href="#">2</a></li>
          <li class="page-item"><a class="page-link" style="color: #6c63ff;" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav>
</footer>
{% endblock %}